@import "./components/components";
.tmac-ripple{
  position: absolute;
  background: 0 0;
  display: inline-block;
  overflow: hidden;
  will-change: box-shadow,transform;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: 0;
  cursor: pointer;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
}
