<div style="">
  <tmac-list-view >
    <tmac-list-view-item   [cssStyle]="{'background-color': '#007aff'}">
      <ng-container leading>
        <img style="margin:10px 0 ;width: 80px;padding: 4px 0;border-radius: 10px"
             src="assets/svg/unlogin.svg" alt="">
      </ng-container>
      <ng-container content>
        <span class="user-name">
        冬夜的冷风
        </span>
      </ng-container>
    </tmac-list-view-item>
    <tmac-list-view-divider>
      组件菜单
    </tmac-list-view-divider>

    <tmac-list-view-item (click)="onItemClick(com)"  *ngFor="let com of components">
      <ng-container  content>{{com?.label}}</ng-container>
    </tmac-list-view-item>

    <tmac-list-view-item >
      <ng-container content>退出登录</ng-container>
      <ng-container ending><i class="fa fa-close"></i></ng-container>
    </tmac-list-view-item>
  </tmac-list-view>
</div>
