<br>
<tmac-appbody>
  <tmac-list-view>
    <tmac-list-view-item>
      <ng-container leading>
        <img style="width: 40px;padding: 4px 0" src="https://avatars0.githubusercontent.com/u/22913282?v=4&s=120" alt="">
      </ng-container>
      <ng-container content="">
        <div>
          架构之路
          <div style="font-size: 12px;opacity: 0.6">账号:zazaaa1</div>
        </div>
      </ng-container>
    </tmac-list-view-item>
    <tmac-list-view-divider></tmac-list-view-divider>
    <tmac-list-view-item>
      <ng-container leading>
        <i class="fa fa-user-o"></i>
      </ng-container>
      <ng-container content="">
        我的
      </ng-container>
    </tmac-list-view-item>
    <tmac-list-view-item>
      <ng-container leading>
        <i class="fa fa-user-o"></i>
      </ng-container>
      <ng-container content="">
        我的
      </ng-container>
    </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item><tmac-list-view-item>
    <ng-container leading>
      <i class="fa fa-user-o"></i>
    </ng-container>
    <ng-container content="">
      我的
    </ng-container>
  </tmac-list-view-item>

    <tmac-list-view-item>
      <ng-container leading>
        <i class="fa fa-edit"></i>
      </ng-container>
      <ng-container content="">
        钱包
      </ng-container>
      <ng-container ending>
        <i class="fa fa-angle-right"></i>
      </ng-container>
    </tmac-list-view-item>

  </tmac-list-view>
</tmac-appbody>
