@import "../common/variables";

tmac-appbar{
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  z-index: 10;
  min-height: 44px;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);

  .appbar-wrapper{
    display: flex;
    transform: translateZ(0);
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    contain: content;
    -webkit-tap-highlight-color:transparent;
  }
  .appbar-title{
    display: block;
    height: 44px;
    line-height: 44px;
    overflow: hidden;
    width: 100%;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-weight: 600;
  }
  .appbar-start{
    position: absolute;
    left: 0.4rem;
  }
  .appbar-end{
    position: absolute;
    right: 0.4rem;
  }
}
tmac-appbar.tmac-appbar-ios{
  background-color: $whiteColor;
  color: #000;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  .appbar-title{
    line-height: 47px;
    min-height: 47px;
    padding: 0 60px;
    text-align: center;
    left: 0;
    top: 0;
  }
}
tmac-appbar.tmac-appbar-md{
  background-color: $primaryColor;
  color: $textWhiteColor;
  border-bottom: none;
  .appbar-title{
    min-height: 56px;
    line-height: 56px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    color: inherit;
    left: 0;
    top: 0;
    border-bottom:none;
  }
  .appbar-start{
    position: static;
    margin-left: 0.4rem;
    margin-right: 0.8rem;
  }
  .appbar-end{
    position: absolute;
    right: 0.4rem;
  }
}
