@import "../common/variables";

tmac-list-view-divider{
  .tmac-list-view-divider-inner{
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    display: -webkit-flex;
    display: flex;
    padding: 7px 0;
    background-color: $textWhiteColor;
    vertical-align: middle;
    overflow: hidden;
    transition: background-color .2s;
    -webkit-align-items: center;
    align-items: center;
  }
}

