@import "../common/variables";

tmac-side-menu{
  .tmac-menu-inner{
    position: absolute;
    z-index: 80;
    border-right: 1px solid $textWhiteColor;
    background-color: $whiteColor;
    left: 0;
    right: auto;
    top: 0;
    bottom: 0;
    //-webkit-transform: translate3d(-9999px,0,0);
    //transform: translate3d(-9999px,0,0);
    position: absolute;
    display: block;
    width: 80%;
    height: 100%;
    contain: strict;
  }
}

