@import "../common/variables";
tmac-tab-view{
  transform: translate3d(0,0,0);
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  .tmac-tab-view-zoom{
    text-align: center;
    display: block;
    width: 100%;
  }

}
