// 主题色
$primaryColor:    #007aff;
$secondaryColor:  #32db64;
$dangerColor:     #d91e18;
$lightColor:      #f4f4f4;
$darkColor:       #222;
$whiteColor:#fff;

$firstTitleColor: #000;
$textDarkColor: #111;
$textWhiteColor: #f2f2f2;
