@import "../tmac-theme/variables";

:host{
  .tmac-indicator-pan {
    display: inline-block;
    height: auto;
    span {
      display: inline-block;
      width: 4px;
      margin-left: 1px;
      border-radius: 4px;
      background: $primaryColor;
      -webkit-animation: load 1s ease infinite;
    }
    @-webkit-keyframes load {
      0%{
        height: 2px;
        background: $whiteColor;
      }
      50% {
        height: 8px;
        background: $primaryColor;
      }
      100% {
        height: 14px;
        background: $whiteColor;
      }
    }
    span:nth-child(2) {
      -webkit-animation-delay: 0.2s;
    }
    span:nth-child(3) {
      -webkit-animation-delay: 0.4s;
    }
    span:nth-child(4) {
      -webkit-animation-delay: 0.6s;
    }
    span:nth-child(5) {
      -webkit-animation-delay: 0.8s;
    }
  }
}
