<tmac-app>
  <tmac-appbar >
    <ng-container title>
      下拉刷新基础使用
    </ng-container>
  </tmac-appbar>


  <tmac-appbody>
    <tmac-refresher (onRefresh)="onRefresh($event)">
      <tmac-refresher-content></tmac-refresher-content>
    </tmac-refresher>
    <div>
    </div>
    <tmac-list-view>
      <tmac-list-view-item *ngFor="let i of array">
        <ng-container leading>
          <img style="width: 40px;padding: 4px 0" src="https://avatars0.githubusercontent.com/u/22913282?v=4&s=120" alt="">
        </ng-container>
        <ng-container content="">
          <div>
            {{i?.label}}
            <div style="font-size: 12px;opacity: 0.6">账号:zazaaa1</div>
          </div>
        </ng-container>
      </tmac-list-view-item>
    </tmac-list-view>
  </tmac-appbody>
</tmac-app>
