<tmac-modal>
  <tmac-backdrop *ngIf="context?.showBackdrop" (click)="bdClick()"></tmac-backdrop>
  <div class="action-sheet-wrapper">
    <div [@slideAnimation]="state" class="action-sheet-container">
      <div class="actionsheet-group">
        <div class="action-sheet-title" >{{context?.title}}</div>

        <div (click)="onButtonClick(button)" class="action-sheet-item" *ngFor="let button of context?.buttons">
          <div class="action-sheet-item-icon">
            <i class="{{button?.icon}}"></i>
          </div>
          <div  class="action-sheet-item-msg">
            {{button?.text}}
          </div>
        </div>

      </div>
      <div class="actionsheet-group" (click)="onCancelButtonClick(context?.cancelButton)">
        <div class="action-sheet-title" >
          <i class="{{context?.cancelButton?.icon}}"></i>
          {{context?.cancelButton?.text}}
        </div>
      </div>
    </div>
  </div>
</tmac-modal>
