<tmac-app>
  <tmac-appbar >
    <ng-container start>
      <i tmacRouter class="fa fa-arrow-left"></i>
    </ng-container>
    <ng-container title>
      按钮
    </ng-container>
  </tmac-appbar>


  <tmac-appbody>
    <button tmac-button>default</button>
    <button tmac-button type="primary">primary</button>
    <button tmac-button type="danger">danger</button>
    <button tmac-button type="secondary">secondary</button>
    <button tmac-button type="light">light</button>
    <button tmac-button type="dark">dark</button>
  </tmac-appbody>
</tmac-app>
